import React, { Component } from 'react';

class <%= props.name %> extends Component {
  
  componentDidMount() {

  }
  render() {
    return <p>Hey, a class component</p>
  }
}

export default <%= props.name %>