import React, { Component } from 'react';

class <%= props.name %> extends Component {
  constructor(props) {
    super(props)
  }
  componentDidMount() {

  }
  render() {
    return <div>Hey, a class component</div>
  }
}

export default <%= props.name %>