import React from 'react'

interface Props {
  props: any;
}

const <%= props.name %> = (props: Props) => {
  return (
    <div>
      Hey, a functional typescript component
    </div>
    )
}

export default <%= props.name %>