import React from 'react'

interface <%= props.name %>Props {
  children: any;
}

const <%= props.name %> = (props: <%= props.name %>Props) => {
  return (
    <div>
      Hey, a functional typescript component with {props.children}
    </div>
    )
}

export default <%= props.name %>